@media only screen and (max-width: 1200px) {
    .home {

        padding: 50px 0;

        .main_container {
            gap: 20px;
        }

        h1 {
            font-size: 60px;
            line-height: 70px;

            img {
                width: 60px;
            }
        }

        .home_btns .home_btc {
            width: 120px;
        }
    }

    .training {
        .training_in {
            flex-wrap: wrap;
            justify-content: center;
            gap: 50px;
        }
    }

    .accardions {
        padding: 50px 0;

        .main_container {
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: 993px) {

    .main_title {
        font-size: 34px;
        line-height: 34px;
    }

    .home {
        .main_container {
            flex-direction: column;
            gap: 30px;
        }

        p {
            max-width: 100%;
        }

        .home_btns {
            max-width: 100%;
            align-items: start;
        }
    }

    .registration {
        .registration_blocks {
            gap: 30px;
        }
    }

    .result {
        .slider_btns button {
            svg  {
                width: 45px;
                height: 45px;
            }
        }
    }

    .teachers {
        .teacher_btns {
            svg {
                width: 45px;
                height: 45px;
            }
        }
    }

    .course {
        .main_container {
            .course_icon1,
            .course_icon2,
            .course_icon3 {
                width: 120px;
            }
            
        }
    }

    .training {
        margin-bottom: 50px;

        .training_title {
            img {
                width: 150px;
            }
        }
    }

    .comment {
        margin-bottom: 50px;

        .main_title {
            margin-bottom: 30px;
        }

        .comment_in {
            flex-wrap: wrap;
            align-items: start;

            .comment_block {
                display: none;

                max-width: 100%;

                img {
                    width: 100%;
                }
            }

            .comment_block_media {
                display: flex;
                align-items: start;
                flex-wrap: wrap;
                gap: 10px;

                img {
                    width: calc(100% / 2 - 10px);
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {

    .main_title {
        font-size: 27px;
        line-height: 30px;
    }

    header {

        .main_container {
            gap: 10px;
        }

        .header_btn {
            font-size: 17px;
        }

        .header_logo {
            gap: 10px;
        }
    }

    .home {

        padding: 20px 0 50px;

        h1 {
            font-size: 36px;
            line-height: 36px;
            margin-bottom: 25px;

            img {
                width: 33px;
            }
        }

        p {
            font-size: 22px;
            margin-bottom: 30px;
        }

        .home_img {
            min-width: 100%;

            img {
                width: 100%;
            }

            span {
                margin-top: 10px;
            }
        }

        .home_btns {
            button {
                padding: 15px 25px;
                border-radius: 10px;
                font-size: 17px;
            }

            .home_btc  {
                width: 80px;
            }
        }
    }

    .registration {
        .main_title {
            margin-bottom: 20px;
        }

        .registration_blocks {
            flex-direction: column;
            gap: 15px;
        }
    }

    .result {
        padding: 50px 0;

        .result_title {
            align-items: center;
            flex-direction: column;
            gap: 15px;
            margin-bottom: 30px;
        }
    }

    .course {
        margin-bottom: 50px;

        .main_title {
            margin-bottom: 30px;
        }

        .course_text {
            gap: 15px;
        }

        .main_container {
            .course_icon1,
            .course_icon2,
            .course_icon3 {
                width: 70px;
            }
        }
        
    }

    .teachers {
        margin-bottom: 50px;

        .teachers_title {
            flex-direction: column;
            align-items: center;
            gap: 15px;

            p {
                margin-top: 15px;
            }
        }

        .teacherSwiper {
            .teacher_block {
                flex-direction: column;
            }
        }
    }

    .register {
        padding: 40px 0;

        button {
            margin: 30px 0 15px;
            padding: 15px 25px;
            border-radius: 10px;
            font-size: 17px;    
        }
    }

    .training {
        margin: 50px 0;
        .training_title {
            flex-direction: column;
            gap: 5px;
            img {
                width: 120px;
                margin-left: auto;
            }
        }

        .training_in {
            .training_card {
                max-width: 100%;
                padding: 34px 25px;

                img {
                    top: -25px;
                    width: 50px;
                }

                p {
                    margin-top: 20px;
                }
            }
        }

        .training_bottom {
            margin-top: 15px;
        }
    }

    .accardions {
        .accardion_title {
            gap: 10px;
            width: 100%;
            flex: auto;
            img {
                width: 150px;
            }
        } 

        .accordion button {
            .accordion-title {
                padding: 10px 0;
                font-size: 16px;

            }
        }

        .accordion {
            .accordion-item {
                .icon {
                    flex-shrink: 0;
                    width: 30px;
                    height: 30px;
                    padding: 5px;
                    img {
                        width: 100%;
                    }
                }
                
            }

            .accordion-content {
                p {
                    font-size: 14px;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    p {
        font-size: 15px !important;
        line-height: 22px !important;
    }

    button {
        font-size: 15px !important;
        line-height: 22px !important;
    }

    header {
        .header_logo {
            img {
                width: 50px;
            }

            h6 {
                font-size: 20px;
            }
        }
    }

    .home {
        .home_btns {
            .home_btc {
                width: 60px;
            }
        }
    }

    footer {
        .main_container {
            flex-direction: column;
            gap: 15px;

            .footer_logo {
                gap: 10px;
                img {
                    width: 50px;
                }
            }

            p {
                text-align: left;
            }
        }
    }
}