// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .2s ease;
}
// mixin

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

input {
    font-family: "Inter", sans-serif;
    outline: none;
}

button {
    font-family: "Inter", sans-serif;
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.main_container {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

.home_bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.main_title {
    color: rgba(23, 44, 93, 1);
    font-size: 44px;
    font-weight: 600;
    line-height: 44px;
}

// header
header {
    padding: 22px 0;
    position: relative;
    z-index: 2;
    
    .main_container {
        @include flex-center();
        justify-content: space-between;
    }

    .header_logo {
        @include flex-center();
        gap: 20px;

        h6 {
            color: rgb(33, 33, 33);
            font-size: 22.75px;
            font-weight: 700;
            line-height: 26px;
        }

        span {
            display: block;
            color: rgb(0, 0, 0);
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
        }
    }
    
    .header_btn {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        line-height: 21.7px;      
        padding: 12px 24px;
        border-radius: 10px;
        background: rgb(23, 44, 93);
    }
}
// header

// home
.home {
    padding: 90px 0 75px;

    .main_container {
        @include flex-center();
        justify-content: space-between; 
    }

    .home_img {
        min-width: 446px;

        span {
            display: flex;
            justify-content: end;
            margin-top: 22px;
            color: rgb(0, 0, 0);
            font-size: 15.05px;
            font-weight: 300;
            line-height: 22px;
            text-align: right;
            
        }
    }

    h1 {
        color: rgba(23, 44, 93, 1);
        font-size: 80px;
        font-weight: 900;
        line-height: 96px;
        margin-bottom: 40px;

        img {
            transform: translateY(25%);
        }
    }

    p {
        max-width: 868px;
        color: rgba(33, 33, 33, 1);
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 50px;

        b {
            font-weight: 800;
        }
    }

    .home_btns {
        max-width: 720px;
        position: relative;
        display: flex;
        align-items: center;

        button {
            padding: 18px 36px;
            border-radius: 20px;
            box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.4);
            background: rgb(23, 44, 93);
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 700;
            line-height: 31px;
            text-align: center;            
        }

        .home_btn {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 11px;
        }

        span {
            color: rgba(0, 0, 0, 1);
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
            text-align: center;
        }

        .home_line_icon {
            position: absolute;
            right: 50px;
            bottom: 0;

        }

        .home_btc {
            margin-left: auto;
        }
    }
}
// home

// registration
.registration {
    position: relative;
    
    .registration_in {
        max-width: 782px;
        margin: 0 auto;

    }

    .registration_bg {
        position: absolute;
        left: -10%;
        top: -100%;
        z-index: -1;
    }

    .main_title {    
        margin-bottom: 40px;
    }

    .registration_blocks {
        display: flex;
        gap: 88px;
    }

    h6 {
        color: rgba(23, 44, 93, 1);
        font-size: 17.5px;
        font-weight: 700;
        line-height: 27px;        
        margin-bottom: 20px;
    }

    p {
        font-size: 13.25px;
        font-weight: 300;
        line-height: 24.8px;
        color: rgba(33, 33, 33, 1);
    }
}
// registration

// result
.result {
    padding: 105px 0;

    .result_title {
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .slider_btns {
        @include flex-center();
        gap: 10px;

        button {

            svg {
                @include transition();
            }

            &:hover {
                svg {
                    path {
                        fill: white;
                        stroke: white;
                    }

                    circle {
                        stroke: transparent;
                        fill: #172C5D;
                    }
                }
            }
        }
    }

    .main_title {
        max-width: 446px;
    }

    .resultSwiper {
        overflow: visible;

        img {
            width: 100%;
        }
    }
}
// result

// course
.course {
    margin-bottom: 128px;
    position: relative;

    .course_bg {
        position: absolute;
        top: -25%;
        left: 0;
        z-index: -1;
        width: 100%;
    }

    .main_title {
        text-align: center;
        margin-bottom: 80px;
    }

    .course_text {
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;

        p {
            font-size: 16px;
            line-height: 21px;
            font-weight: 400;
            color: rgba(23, 44, 93, 1);

        }
    }

    .main_container {
        position: relative;

        .course_icon1 {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
        }
        .course_icon2 {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }
        .course_icon3 {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }
}
// course

// teachers
.teachers {
    margin-bottom: 100px;
    .teachers_title {
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin-bottom: 20px;

        p {
            margin-top: 40px;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            max-width: 600px;
            color: rgba(23, 44, 93, 1);
        }
    }

    .teacher_btns {
        @include flex-center();
        gap: 10px;

        button {

            svg {
                @include transition();
            }

            &:hover {
                svg {
                    path {
                        fill: white;
                        stroke: white;
                    }

                    circle {
                        stroke: transparent;
                        fill: #172C5D;
                    }
                }
            }
        }
    }

    .teacherSwiper {
        padding: 20px 5px;

        .teacher_block {
            padding: 16px;
            border-radius: 10px;
            background: rgb(255, 255, 255);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
            @include flex-center();
            gap: 8px;
            text-align: center;

            h6 {
                color: rgb(0, 0, 0);
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 5px;
            }

            span {
                color: rgb(122, 122, 122);
                font-size: 14px;
                font-weight: 400;
                line-height: 120%;
            }
        }
    }
}
// teachers

// register
.register {
    background-color: rgba(23, 44, 93, 1);
    padding: 65px 0;
    text-align: center;

    .main_title {
        color: rgba(250, 250, 250, 1);
    }

    p {
        margin-top: 12px;
        color: rgba(250, 250, 250, 1);
    }

    button {
        margin: 44px 0 12px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 700;
        line-height: 22px;
        padding: 18px 53px;
        border-radius: 10px;
        background: rgb(246, 154, 2);
    }

    span {
        display: block;
        color: rgb(250, 250, 250);
        font-size: 15.13px;
        font-weight: 400;
        line-height: 25px;
    }
}
// register

// training
.training {
    margin: 100px 0;

    .training_title {
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin-bottom: 50px;

        .main_title {
            max-width: 713px;
        }
    }

    .training_in {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        .training_card {
            position: relative;
            padding: 50px 43px;
            max-width: 381px;
            border-radius: 10px;
            border: 1px solid rgba(0, 0, 0, 1);

            img {
                position: absolute;
                top: -33.5px;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
            
            h6 {
                text-align: center;
                font-size: 20px;
                font-weight: 700;
                line-height: 31px;
                color: rgba(0, 0, 0, 1);
            }

            p {
                margin-top: 27px;
                color: rgba(0, 0, 0, 1);
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;

            }
        }
    }

    .training_bottom {
        margin-top: 45px;
        
        p {
            margin-left: auto;
            max-width: 660px;
            font-size: 24px;
            font-weight: 300;
            line-height: 33.6px;
            color: rgba(33, 33, 33, 1);
        }
    }
}
// training

// comment
.comment {
    margin-bottom: 100px;

    .main_title {
        margin-bottom: 40px;
    }

    .comment_in {
        gap: 10px;
        display: flex;
        justify-content: space-between;
    }

    .comment_block {
        max-width: 308px;
        display: flex;
        flex-direction: column;
    }

    .comment_block_media {
        display: none;
    }
}
// comment

// accardion
.accardions {
    padding: 100px 0 60px;

    .main_container {
        @include flex-start();
        gap: 20px;
        justify-content: space-between;
    }

    .accardion_title {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 30px;

        img {
            width: 200px;
        }
    }

    .accordion {
        flex: 4;
    }

    .accardion .accardion_item_one {
        border-top: 1px solid #000;
    }

    .accordion .accordion-item {
        overflow: hidden;
        border-bottom: 1px solid #000;

        .icon {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            @include flex-full-center();
        }

        &:hover {
            .icon {
                background: #f3f3f3;
            }
        }
      }
      
      .accordion button {
        @include flex-center();
        justify-content: space-between;
        width: 100%;
        position: relative;
        text-align: left;        
        border: none;
        background: none;
        outline: none;
      }
      
      .accordion button:hover,
      .accordion button:focus {
        cursor: pointer;
      }
      
      .accordion button:hover::after,
      .accordion button:focus::after {
        cursor: pointer;
      }
      
      .accordion button .accordion-title {
        padding: 20px 0;
        font-size: 21px;
        font-weight: 600;
        line-height: 22.4px;
        color: rgba(33, 33, 33, 1);

      }

      .accordion button {
        img {
            @include transition();
        }
      }
      
      
      .accordion button[aria-expanded='true'] {

        img {
            transform: rotate(45deg);
        }
      }
      .accordion button[aria-expanded='true'] .icon::after {
        width: 0;
      }
      .accordion button[aria-expanded='true'] + .accordion-content {
        opacity: 1;
        max-height: 9em;
        transition: all 200ms linear;
        will-change: opacity, max-height;
      }
      .accordion .accordion-content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;
      }
      .accordion .accordion-content p {
        font-size: 1rem;
        font-weight: 300;
        margin: 0 0 20px;
      }
}
// accardion

// footer
footer {
    border-top: 1px solid rgba(194, 194, 194, 1);
    padding: 20px 0;

    .main_container {
        @include flex-center();
        justify-content: space-between;
    }

    .footer_logo {
        @include flex-center();
        gap: 20px;

        h6 {
            color: rgb(33, 33, 33);
            font-size: 22.75px;
            font-weight: 700;
            line-height: 26px;
        }

        span {
            display: block;
            color: rgb(0, 0, 0);
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
        }
    }

    p {
        font-size: 14px;
        font-weight: 600;
        line-height: 18.9px;
        text-align: right;
        color: rgba(33, 33, 33, 1);

        a {
            display: block;
        }
    }
}
// footer




@import './responsive';